@page "/DogFoodInventoryEntry"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using No_Kill_Inventory.Data
@rendermode InteractiveServer

@attribute [Authorize]

<PageTitle>Dog Food Inventory Entry</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Dog Food Inventory Entry</h1>

        <div class="row">
            <div class="col-md4">
                <EditForm Model="Input" method Context="editContext">
                    <DataAnnotationsValidator/>
                    <h2>All fields must be filled</h2>
                    <hr/>
                    <ValidationSummary class="text-danger" role="alert"/>

                    <div>
                        <button type="button" class="btn btn-primary" @onclick="(() => { })">
                            Test Input
                        </button>
                    </div>
                </EditForm>
            </div>
        </div>
    </Authorized>
</AuthorizeView>
    
@code {
    [SupplyParameterFromForm] private InputModel Input { get; set; } = new();

    public void DogItemStore()
    {
        using (var context = new ApplicationDbContext(new DbContextOptions<ApplicationDbContext>()))
        {
            var newDogItem = new DogItem()
            {
                Type   = Input.TypeDog,
                Weight = Input.WeightDog
            };
        }
    }
    
    private sealed class InputModel
    {
        [Required]
        [StringLength(100, ErrorMessage = "Should input from the dropdown")]
        [Display(Name = "TypeDog")]
        public String TypeDog { get; set; }
        
        [Required]
        [StringLength(100, ErrorMessage = "Should input a number")]
        [Display(Name = "WeightDog")]
        public int WeightDog { get; set; }
    }
}