@page "/EditInventory"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Edit Inventory</PageTitle>

<AuthorizeView>
    <Authorized>
        <h3>EditInventory</h3>
    </Authorized>
</AuthorizeView>


@code {
    
}