@page "/ViewInventory"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>View Inventory</PageTitle>

<AuthorizeView>
    <Authorized>
        <h3>View Inventory</h3>
    </Authorized>
</AuthorizeView>

@code {
    
}