@page "/"
@attribute [Authorize]

<PageTitle>No Kill Louisville</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>No Kill Louisville Inventory System</h1>
        
        Login Page Will Go Here,
        
        Navigation Eventually Will Be Disabled Until Logged
    </Authorized>
    <Authorizing>
        <h1>Loading...</h1>
    </Authorizing>
</AuthorizeView>


