@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>

@* 
    If your account is locked out (too many login attempts), you will see this page 
*@

<header>
    <h1 class="text-danger">Locked out</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>